
/*
* {
	border: 1px solid red !important;
}
*/

body {
	background-color: white;
	font-family: Verdana;
}

.save_custom_words {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	cursor: pointer;
	text-shadow: 1px 1px 3px gray;
	font-family: monospace;
	border: 2px solid gray;
	border-color: gray; 
	background-color: white;
	color: black;
	padding: 3px;
	font-size: 0.8em;
}

.headline {
	position: relative;
	width: 250px;
}

.headline > h2 {
	margin-left: 0px;
	float: left;
	margin-right: 10px;
}

.headline > .whatsthis:hover {
	cursor: help;
}

.headline > .whatsthis {
	position: absolute;
	font-size: 0.7em;
	left: 0px;
	top: 5px;
}

#example .next {
	color: yellow;
}

.code {
	background: black !important;
	color: white;
	padding: 2px;
}

.codeline {
	background: black !important;
	color: white;
	margin: 5px;
	padding: 3px;
}

.categorydescription {
	display: none;
}

.customword {
	position: relative;
}

.remove:hover {
	font-size: 1.4em;
	right: 2.5px;
	cursor: pointer;
}

.introduction {
	font-size: 0.9em;
	position: relative;
	border: 1px solid white;
	border-bottom: 0;
	padding: 0px 10px 30px 10px;
}

.introduction:hover {
	border: 1px dotted gray;
	border-bottom: 0;
}

.introduction .remove:hover {
	color: yellow;
}

.introduction .remove {
	right: 20px;
	top: 10px;
	font-size: 1em;
	background-color: red;
	color: white;
	padding: 5px;
}

.remove {
	color: red;
	font-family: monospace;
	font-size: 1.0em;
	position: absolute;
	right: 5px;
	top: -5px;
}

.all_custom_words:hover {
	cursor: pointer; 	
}

.canvaswrapper h2 {
	color: black;
}

.canvaswrapper {
	background-color: white;
	position: relative;
	width: 650px;
	height: 500px;
	margin: 20px auto;
}

.canvas_topleft {
	position: absolute;
	left: -30px;
	top: 45px;
}

.canvas_bottomright {
	position: absolute;
	left: 550px;
	top: 470px;
}

canvas {
	display: block;
	border: 1px solid black;
	margin: 0 auto;
}

#command, #result, #words, #nativewords, #label {
	font-family: monospace;
	line-height: 1.6em;
}

#general_popup {
	border: 2px solid black;
	padding: 5px;
	display: none;
	min-width: 100px;
	max-width: 1000px;
	background-color: white;
	color: text;
	font-size: 1.2em;
	z-index: 1000;
	position: absolute;
}

.nativeword {
}

.customword_popup {
	width: 500px;
}

.word_category:hover {
	background-color: #eee;
}

.word_category {
	font-size: 0.9em;
	cursor: pointer;
	background-color: #bbb;
	padding: 5px;
	border: 1px solid black;
}

.whatsthis small {
	font-size: 0.3em;
	color: white;
}

.hovered {
	background-color: #888 !important;
	color: white;
	font-weight: bold;
}

span.popupcode {
	font-weight: bold;
	background-color: white;
	padding: 3px;	
}

.popup_categoryname {
	background-color: #666 !important;
	color: white;
	padding: 5px;
}

.popup_word, .popup_categoryname {
	font-weight: bold;
	margin-top: 0;
}

.popup_definition {
	background: gray;
	padding: 5px;
	background-color:white;
	color: blue;
}

.popup_stackeffect {
	background: gray;
	padding: 5px;
	background-color:white;
	color: blue;
}

.popup_word, .popup_description, .popup_stackeffect {
}

.whatsthis:hover {
	/* color: orange; */
	color: yellow;
}

.whatsthis_popup {
	width: 500px;
}

.popup {
	padding: 10px !important;
	width: 350px;
}

.customword_popup {
	width: 500px !important;
}

.popup, .whatsthis_popup {
	font-family: monospace;
	font-size: 1.2em;
	background-color: #FAFAD2;
	color: black;
	position: absolute;
	display: none;
	z-index: 1000;
	border: 2px solid black;
	border-left: none;
	padding: 5px;
	-moz-box-shadow: 1px 1px 3px black;
	-webkit-box-shadow: 1px 1px 3px black;
}

.stack_row_even {
	background-color: #eee !important;
}

.stack_row_odd {
	background-color: white !important;
}

.oddRow {
	background-color: #FAFAD2;
}

.evenRow {
	background-color: white;
}

.introduction {
	margin: 0 auto;
	width: 1000px;
	height: 120px;
}

.introduction h1 {
	color: red;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px #999;
}

.introduction p {
	text-align: left;
	letter-spacing: 1px;
}

.main {
	margin: 0 auto;
	width: 1180px;
	height: 530px;
	/* background-color: brown; */
	background-color: #444;
	padding: 10px;
	border: 5px solid black;
}

h1 {
	text-align: center;
}

#nativewords {
	height: 400px;
	width: 200px;
}

#words {
	height: 300px;
	width: 330px;
}

#words, #nativewords {
	margin: 10px;
	font-size: 1.2em;
	border: 5px solid #eee;
	background-color: #ddd;
}

h2 {
	/* color: yellow; */
	color: #eef;
	text-align: center;
}

.wrapper {
	float: left;
}

.stackwrapper {
	width: 300px;
}

#filler { /* is used to fill the upper stack area which is empty */
	width: 50px;
	border: 0;
	visibility: hidden;
}

#stack {
	width: 250px;
	height: 400px;
	margin: 10px;
	font-size: 1.2em;
	border: 5px solid #eee;;
	background-color: black;
}

.stack_effect, .description {
	display: none;
}

#stack > div:hover {
	background-color: #FFC !important;
}

#stack > div, #words > div, .nativeword {
	/* text-align: center; */
  line-height: 1.6em;

	font-family: monospace;
	padding-left: 20px;
	height: 25px;
	margin: 0px;
	border: 1px solid #aaa;
	cursor: pointer;
	overflow: hidden;
}

#result {
	margin: 79px 10px 10px 10px;
	height: 300px;
	width: 200px;
	max-width: 200px;
  max-height: 300px;
	font-size: 0.9em;
	padding: 4px;
	margin-left: 7px;
	border: 1px solid black;
	background-color: black;
	color: white;
	border: 5px solid white;
}

#command:focus {
	/* background-color: #fdf; */
	background-color: #333;
	color: white;
	border: 2px solid #bbb;
}

#executeButton {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	text-shadow: 1px 1px 3px gray;
	font-family: monospace;
	margin-left: 3px;
	width: 100px;
	height: 2.3em;
	border: 2px solid gray;
	border-color: gray; 
	background-color: white;
	color: black;
	margin-left: 10px;
}

.examplewrapper {
	margin-right: 16px;
}

#command {
	border: 2px solid #aaa;
	width: 460px;
	float: left;
	font-size: 1.2em;
	/* background-color: #ddF5EE; */
	background-color: #555;
	color: #bbb;
	padding: 4px;
	margin-left: 5px;
	margin: 0;
}

.examplelabel {
	display: none;
	font-family: monospace;
	float: left;
	margin-left: 35px;
	margin-right: 15px;
	margin-top: 5px;
	border: none;
}

#example:hover {
	cursor: pointer;
	border-color: #eee;
	background-color: #888;
	color: black;
}

#exampleButton {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	text-shadow: 1px 1px 3px gray;
	font-family: monospace;
	margin-left: 10px;
	margin-top: 4px;
	width: 210px;
	height: 2.3em;
	border: 2px solid gray;
	border-color: gray; 
	background-color: white;
	color: black;
	
}

#example {
	font-family: monospace;
	float: left;
	margin-top: 5px;
	border: 2px solid #aaa;
	width: 350px;
	font-size: 1.0em;
	word-spacing: -1px;
	/* background-color: #ddF5EE; */
	background-color: #555;
	color: #bbb;
	padding: 4px;
	height: 1em;
}

label {
	/* border: 1px solid black;*/
	background-color: gray;
	color: white;
	padding: 5px;
	display: inline;
}

.example {
	background-color: #eee;
	color: black;
}
